* {
    font-family: sans-serif;
}

.title {
    color: #f01a1a;
    margin-bottom: 30px;
    position: relative;
}

.title::before {
    position: absolute;
    left: -29px;
    top: 0;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    background-color: #7499f1;
    box-shadow: 0px 4px 4px 0px #aaa;
    border-radius: 4px;
    content: ''
}

.title::after {
    position: absolute;
    left: -19px;
    top: 25px;
    height: 14px;
    width: 14px;
    transform: rotate(45deg);
    background-color: #7499f1;
    box-shadow: 0px 4px 4px 0px #aaa;
    border-radius: 4px;
    content: ''
}

.services {
    padding: 40px;
    position: relative
}

.services .square {
    height: 100px;
    width: 100px;
    margin: 30px auto 40px;
    position: relative;
    /* border-radius: 15px;
    transform: rotate(45deg); */
    padding: 10px;
    /* background-color: #002b09; */
    /* box-shadow: 0px 0px 27px 0px #ccc;
    border: 2px dotted #eaf3fa */
}

.square img {
    /* transform: rotate(315deg); */
    display: block;
    color: #eaf3fa;
    align-items: center;
    height: 100px;
    width: 100px;
    align-items: center;
}

.services .square::before {
    position: absolute;
    left: -10px;
    top: 0;
    width: 1px;
    height: 100%;
    /* background-color: #e92828; */
    content: ''
}

.services .square::after {
    position: absolute;
    left: 50px;
    top: 66px;
    width: 1px;
    height: 88%;
    /* background-color: #da0e0e; */
    content: '';
    /* transform: rotate(90deg) */
}

.services .serv .num {
    width: 60px;
    height: 60px;
    background-color: #7499f1;
    box-shadow: 0px 0px 15px 0px #00a9d3;
    margin: -38px auto 15px auto;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    padding-top: 7px;
    border: 1px dashed
}

.services .serv h5 {
    color: #db0e0e;
    font-weight: 800;
}

.services .serv p {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.services .serv hr {
    width: 30px;
    border-top: 3px solid rgb(0 169 211)
}